@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/StyleSheetIndex.css" rel="stylesheet" type="text/css" />

<div class="jumbotron">
    <h1>Restaurant Rumby</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Technologies</h2>
        <p>
            MVC project using technologies:
        </p>
        <ul>
            <li>C#</li>
            <li>Linq to SQL</li>
            <li>MSSQL database</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Tools</h2>
        <ul>
            <li>Visual Studio Community</li>
            <li>Microsoft SQL Server Management Studio</li>
            <li>Notepad++</li>
        </ul>    
    </div>

    <div class="col-md-4">
        <h2>Source control</h2>
        <ul>
            <li>GitHub</li>
            <li>
                <a href="https://github.com/StanAdrian/ProgrammingClub">https://github.com/StanAdrian/ProgrammingClub</a>
            </li>
        </ul>       
    </div>
</div>