
@{
    ViewBag.Title = "BackOffice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>BackOffice</h2>

<body>
    <div>
        <ul>Op1</ul>
        <ul>Op2</ul>
        <ul>Op3</ul>
    </div>
</body>
